#h1{
    font-size: 50px;
    text-align: center;
     margin-top: 50px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 800;
}
#p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#banner-card{
    border-radius: 5%;
    height: 350px;
    width: 500px;
    /* background-color: #0000004f; */
   
}
 
#get-started-btn{
  padding: 0;
  border-style: none;
  border: 0;
  background-color: #2fcb72;
  border-radius: 0 !important;
  padding: 0.6rem 2rem;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}
 
#Services-section{
    background-color: #ececec !important;
    height: 500px;
    padding-bottom: 2em;
    padding-top: 1.5rem !important;
    margin-top: 1.5rem;
    padding-top: 3em;
    text-align: center !important;
    
    width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  font-family: 'Outfit', 'arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
#Services-h1{
    font-size: 32px;
    line-height: 38.5px;
    font-weight: 900;
    text-align: center !important;
    font-family: 'Outfit', 'arial', sans-serif;
    color: #353535;
}
.heading_line{
    position: relative;
  background-color: #2fcb72;
  height: 4px;
  width: 10%;
  margin: 10px auto;
  transform: skew(-30deg);
}
.gear{
    font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
  color: green;
  margin-right: 30px;
}

.gear-p{
    font-size: larger;
    font-weight: 600;
    
   
}
p{
     
    font-size: 0.93rem;
    text-align: start;
  
    
}
#gear-text{
    box-sizing: border-box;
    font-family: 'Outfit', 'arial', sans-serif;
    font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  
}
.navbar{
    background-color: #181a1bfa;
}
#form-title{
    opacity: 1;
  transform: translateZ(0);
  transition-duration: .5s;
  transition-timing-function: ease;
  transition-property: opacity,transform;
  color: #fff;
  text-align: left;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: 500;
  scroll-behavior: smooth;
}
#about-company{
    padding: 2.5em 0em 2.5em 0em;
     
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  font-family: 'Outfit', 'arial', sans-serif;
}

#about-img{
    width: 100% !important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
 
}
#about-section{
  opacity: 1;
  transform: translateZ(0);
  transition-timing-function: ease;
  transition-duration: 1.2s;
  transition-property: opacity,transform;
  flex: 0 0 50%;
    max-width: 50%;
    position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  font-family: 'Outfit', 'arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  
}
.about-subtitle{
  padding: 0.5em 0 0.5em 1em;
  border-left: 4px solid #2fcb72;
  font-size: 14px;
  font-weight: bold;
}
.about-title{
  opacity: 1;
  transform: translateZ(0);
  transition-timing-function: ease;
  transition-duration: 1.2s;
  transition-property: opacity,transform;
  font-weight: 800;
  text-align: left;
  padding: 0em;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Outfit', 'arial', sans-serif;
  scroll-behavior: smooth;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  margin-top: 0;
  box-sizing: border-box;
  
}
.about-section-p{
  opacity: 1;
  transform: translateZ(0);
  transition-timing-function: ease;
  transition-duration: 1.2s;
  transition-property: opacity,transform;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Outfit', 'arial', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: left;
}

.choose-us-section{
  background-color: #363636;
}
.choose-us-title{
  font-weight: 600;
  color: #fff !important;
  text-align: left;
  text-transform: capitalize;
  font-family: 'Outfit', 'arial', sans-serif;
  font-size: 2rem;
  line-height: 1.2;
}
#choose-us-p{
  opacity: 1;
  transform: translateZ(0);
  transition-timing-function: ease;
  transition-duration: 1.2s;
  transition-property: opacity,transform;
  font-size: 1rem;
   color: #fff;
  font-weight: 400;
  font-family: 'Outfit', 'arial', sans-serif;
  scroll-behavior: smooth;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: left;
}
h1{
  color: #fff;
}